.header {
  background-color: black;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-height: 35px;
}

.header-text {
  font-size:14px;
  font-weight:500;
  color: white;
}
.header-right{
  margin-right: 10px;
}
